<div class="row-fluid">
  <%= link_to raw('<i class="glyphicon glyphicon-circle-arrow-left"></i> Back'), comments_path, class: "btn btn-default" %>
  <%= link_to raw('<i class="glyphicon glyphicon-eye-open"></i> Show'), @comment, class: "btn btn-default" %>
</div>

<h1>Editing Comment</h1>
<%= render 'form' %>

