<div class="row-fluid">
  <%= link_to raw('<i class="glyphicon glyphicon-circle-arrow-left"></i> Back'), @comment.get_topic, class: "btn btn-default" %>
</div>

<h1>New Comment</h1>
<%= render 'form' %>

