<div class="row-fluid">
  <%= link_to raw('<i class="glyphicon glyphicon-circle-arrow-left"></i> Back'), topics_path, class: "btn btn-default" %>
  <%= link_to raw('<i class="glyphicon glyphicon-eye-open"></i> Show'), @topic, class: "btn btn-default" %>
</div>

<h1>Editing Topic</h1>
<%= render 'form' %>

